.sidebar{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #343541;
    width: 300px;
    z-Index: 1000;
}

.buttonSidebar{
    color: #fff;
    background-color: #d9d9e3;
    background: none;
    margin: 10px;
    width: 280px;
    height:fit-content;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.bottomSiderbar{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}